extends layout

block content
  .container-fluid.bg-1
    .col-xs-12.col-sm-8.text-center
      h3 Não se trata de velocidade, se trata de competência
      hr
      img.img-responsive.center-block(src="https://cdn0.iconfinder.com/data/icons/thin-shopping-delivery/24/thin-0463_fast_delivery_van_shipping_transport-512.png")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus
    .col-xs-12.col-sm-4
      h3 Feed de notícias
      hr
      h4 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus, et vulputate orci gravida ac. Quisque accumsan, est et volutpat ullamcorper, turpis nulla congue turpis, sed accumsan odio urna sit amet arcu.Quisque accumsan, est et volutpat ullamcorper, turpis nulla congue turpis
      p São Paulo, 25 de outubro, 2016.
      h4 Lorem ipsum dolor
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus, et vulputate orci gravida ac. Quisque accumsan, est et volutpat ullamcorper, turpis nulla congue turpis, sed accumsan odio urna sit amet arcu.Quisque accumsan, est et volutpat ullamcorper, turpis nulla congue turpis
      p São Paulo, 25 de outubro, 2016.
  .container-fluid.bg-2
    .col-xs-12.text-center
      h3 O que você precisa, na hora que você precisa!
      hr
    .col-xs-12.col-sm-4.text-center.wow.bounceInLeft
      span.glyphicon.glyphicon-map-marker
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus, et vulputate orci gravida ac.
      button.btn.btn-default.btn-lg.btn-block Saiba mais
    .col-xs-12.col-sm-4.text-center.wow.bounceIn
      span.glyphicon.glyphicon-globe
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus, et vulputate orci gravida ac.
      button.btn.btn-default.btn-lg.btn-block Saiba mais
    .col-xs-12.col-sm-4.text-center.wow.bounceInRight
      span.glyphicon.glyphicon-road
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin ante tellus, eu venenatis dui convallis a. Sed velit dolor, sodales vitae dapibus id, aliquam ut nisl. Maecenas porta nisl tellus, et vulputate orci gravida ac.
      button.btn.btn-default.btn-lg.btn-block Saiba mais